@import "../mixins.scss";
@import "../colors.scss";

.filter {
  background-color: $white;
  margin: 0px 27px 50px 27px;
  padding: 30px 53px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.select {
  width: 100%;
  z-index: 2;
}

.selectWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  span {
    display: inline-block;
    white-space: nowrap;
  }
}
